* {
    box-sizing: border-box;
}

.title {
    font-size: 200%;
}

.container {
    width: 65%;
    margin: auto;
}

.text-field {
    width: 70%;
    border-radius: 20px;
    padding: 10px;
}



.button-ok {
    width: 20%;
    margin-left: 10px;
    background-color: #82B366;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 10px;
}

.button-ok:hover {
    background-color: #b8f594;   
}

.list-item {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 10px;
    background-color: #e9e9e9;
    border: 1px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.list-item-title {
    font-size: 17pt;
}

.list-item-tag {
    margin-left: 10px;
    margin-right: 10px;
    border: 2px solid #ffbb27;
    padding: 10px;
    border-radius: 10px;
    background-color: #eed192;
}

.list-item-button-icon-lapis {
    width: 40px;
    height: 40px;
}


.list-item-button-icon-lixeira {
    width: 40px;
    height: 40px;
}

.list-item-action-button {
    margin-left: 10px;
    margin-right: 10px;
    border: none;
    cursor: pointer;
    background-color: #e9e9e9;
    
}